<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
{{ template "header" .}}
<div class="container">

    {{ template "flash" .}}
    <!-- Write your code here start  -->
    This is private page<br>
   logged in: <b>{{ .IsLoggedIn }}</b><br>
   Current Path: {{ .currentPath }}<br>
   <div id="example">
       ${ message }
       <button @click="callSampleFunc" class="btn btn-success">Click Me</button>
   </div>
    <!-- Write your code here end -->
</div>
{{ template "footer" .}}
<script src="/js/vue.min.js"></script>
<script>
    let vm = new Vue({
        el: '#example',
        delimiters: ['${', '}'],
        data: {
            message: "hi there :)"
        },
        methods: {
            callSampleFunc(){
                alert("Hello From button");
            }
        }
    });
</script>
</body>
</html>