{{template "header" .}}
<div id="example">
    ${message}
</div>
<form action="/site/register" method="POST">
    <table class="table table-bordered">
        <tr>
            <td><input required type="text" class="form-control" name="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td><input required type="text" class="form-control" name="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td><input required type="password" class="form-control" name="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td><input required type="text" class="form-control" name="firstname" placeholder="Frist Name"></td>
        </tr>
        <tr>
            <td><input required type="text" class="form-control" name="lastname" placeholder="Last Name"></td>
        </tr>
        <tr>
            <td><button required type="submit" class="btn btn-primary">Register</button required></td>
        </tr>
    </table>
</form>


{{template "footer"}}